.position{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.question{
    font-size: 40px;
    font-family:'Impact',fantasy;
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: rgba(255,255,255);
   opacity: 0.48;
   width: 800px;
   height: 150px;
   border-radius: 10px;
   margin-top: 50px;
}

.option{
    display:flex;
    justify-content: center;
   background-color: red;
   opacity: 0.48;
   width: 100vw;
   border-radius: 10px;
   margin-top: 250px;
}

.names{
    background-color:blue;
    padding:20px;
   width: 500px;
}
