
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Concert+One&family=Gluten:wght@400;500&family=Kosugi+Maru&display=swap');
.bg{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Concert One' !important;
}

@keyframes rotate {
    100% { transform: rotate(360deg);}
  }
  
  
  
  @keyframes bobUpAndDownAndSwayLeftAndRight {
      0% { transform: translateY(0px) scaleX(0.2) scaleY(2) scale(0.2) rotate(-10deg);}
      25% { transform: translateY(-20px) scaleX(0.2) scaleY(2) scale(0.2) rotate(0deg);}
      50% { transform: translateY(0px) scaleX(0.2) scaleY(2) scale(0.2) rotate(10deg);}
      75% { transform: translateY(20px) scaleX(0.2) scaleY(2) scale(0.2) rotate(0deg);}
      100% { transform: translateY(0px) scaleX(0.2) scaleY(2) scale(0.2) rotate(-10deg);}
  }